on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Fetch all git branches
      run: git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
    - name: Install dependencies via mise
      uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
    - name: Run hovercraft
      run: mise run build:html:all
    - name: Publish to GitHub Pages
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: malept/github-action-gh-pages@v1.4.1
      with:
        defaultBranch: main
        docsPath: out
        gitCommitUser: Docs Publisher Bot
        gitCommitEmail: actions@users.noreply.github.com
        showUnderscoreFiles: true
      env:
        GH_PAGES_SSH_DEPLOY_KEY: ${{ secrets.DOCS_SSH_DEPLOY_KEY }}

  automerge:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3.11.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
